



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>visionBoard | Register or login to accounts</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gilroy&display=swap');
        body {
            font-family: 'Gilroy', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-200 min-h-screen flex flex-col items-center justify-center">
    <div class="container mx-auto bg-white p-8 rounded-lg shadow-xl max-w-md">
        <div class="flex flex-col items-center">
            <img src="/images/uploads/Black and White Circle Typographic Logo.png" alt="pin logo" class="w-24 h-24 mb-4 rounded-full">
            <p class="text-gray-800 text-lg mb-4">Create Account to see more</p>
            <form action="/register" method="post" class="space-y-4">
                <div>
                    <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                    <input required name="username" type="text" placeholder="username" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                </div>
                <div>
                    <label for="fullname" class="block text-sm font-medium text-gray-700">Full Name</label>
                    <input required name="fullname" type="text" placeholder="fullname" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                </div>
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input required name="email" type="email" placeholder="Email" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                </div>
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <input required name="password" type="password" placeholder="Password" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                </div>
                <div class="flex justify-end mt-4">
                    <button type="submit" class="inline-flex mr-7 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-2xl text-white bg-[#FF3131] hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Create Account
                    </button>
                </div>
            </form>
        </div>
    </div>
    <footer class="mt-8 text-center text-gray-500">
        <p>By continuing, you agree to visionBoard's <span class="font-semibold">Terms of Service, Privacy Policy.</span></p>
        <hr class="my-4 border-t border-gray-300">
        <a href="/" class="text-red-600 hover:text-indigo-900">Already on visionBoard? Login</a>
    </footer>
</body>

</html>